<div class="input-group mb-3">
  <input type="text" class="form-control" placeholder="Recipient's username" aria-label="Recipient's username" aria-describedby="button-addon2" [(ngModel)]="movieTitle" (ngModelChange)="dynamicSearch()">
  <div class="input-group-append">
    <button class="btn btn-outline-secondary" type="button" id="button-addon2" (click)="fetchMovie()">Button</button>
  </div>
</div>
<div *ngIf="results" >
  <p>Ищем совпадение с {{ movieTitle }}</p>
</div>
<ul>
  <li *ngFor="let movie of movies">
    <div class="card" style="width: 18rem;">
      <img [src]="movie.Poster" class="card-img-top" [alt]="movie.Title">
      <div class="card-body">
        <p class="card-text">
          <p>Title: {{movie.Title}}</p>
          <p>Type: {{movie.Type}}</p>
          <p>Year: {{movie.Year}}</p>
          <p><a href="https://www.imdb.com/title/{{movie.imdbID}}/" target="_blank" rel="noopener noreferrer">IMDB link</a></p>
      </div>
    </div>
  </li>
</ul>
